services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      TPM: Y
      DISK_SIZE: "50G"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
      - /tmp/bootable.img:/boot.img
    restart: always
    stop_grace_period: 2m